<div class="page-header bg-blue row">
  <div class="col-sm-8">
  Welcome {{username}} 
  </div>
  <div class=" col-sm-4 text-right">
    <span class="p-2"><a routerLink="/favorites" class="text-white"> <i class="fas fa-star"></i></a></span>
    <span class="p-2" (click)="logout()"><i class="fas fa-sign-out-alt"></i></span>
  </div>
</div>

<h2 class="text-center">Available Repositories</h2>
<div *ngIf="repos" class="pl-5 pr-5">
    <ul class="list-group">
      <div *ngFor="let repo of repos">
        <li class="list-group-item">
          <div class="row">
            <div class="col-4">{{repo.repoName}}</div> 
            <div class="col-4">{{repo.repoLocation}}</div>
            <div class="col-4 text-right"><button type="button"class="btn btn-success" (click)="addRepoToFav(repo.id)">Add to favorites</button></div>
          </div>
        </li>
      </div>  
    </ul>
  </div>